<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách loại xe</title>
</head>
<body>
    <div th:switch="${loaiXeList}">
        <h1 th:case="null">Not yet list category car</h1>
        <div th:case="*">
            <table>
                <thead>
                    <tr>
                        <th>Mã loại</th>
                        <th>Tên loại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cateCar :${loaiXeList}">
                        <td th:text="${cateCar.maLoai}"></td>
                        <td th:text="${cateCar.tenLoai}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>